{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <div class="row align-items-start">
      <div class="col-4">
        <p class="lead">Atividades</p>
        <div class="accordion accordion-flush" id="accordionFlushAtividades">
            {% for processo in processos['processos'] %}
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ processo.id }}" aria-expanded="false" aria-controls="flush-collapse-{{ processo.id }}">
                {{ processo.processo }}
                </button>
            </h2>
            <div id="flush-collapse-{{ processo.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushAtividades">
                <div class="accordion-body">
                    {% for atividade in processo['atividades'] %}
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/#/?formulario_id=4">
                      <p class="text-start">{{ atividade[1] }}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
      </div>
      <div class="col-8">
        
      </div>
    </div>
  </div>

{% endblock %}